---
const year = new Date().getFullYear();
---

<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
      Colophon: This page is powered by <a href="https://nuxtjs.org/" target="_blank" class="hover:underline hover:text-blue-500 transition-colors">Astro Js</a> and looks nice thanks to <a href="https://unocss.dev/" target="_blank" class="hover:underline hover:text-blue-500 transition-colors">TailwindCSS</a>. This website is open source: <a href="https://github.com/your-repo" target="_blank" class="hover:underline hover:text-blue-500 transition-colors">here is the source code!</a>
    </span>
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
      © {year} <a href="https://yourwebsite.com" target="_blank" class="hover:underline hover:text-blue-500 transition-colors">Mario Pazmiño</a>. All rights reserved. <span class="text-gray-500 dark:text-gray-400">Made in Ecuador</span>
    </span>
  </div>
</footer>