---
import '../assets/styles/global.css';
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Página</title>
  </head>
  <body>
    <slot /> <!-- Aquí se renderiza el contenido de cada página -->
  </body>
</html>